<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
    <div class="container-fluid">

        <div class="jumbotron">
            <h1>Recipe App
              <br>
              <small>nothing fancy here ... from now</small></h1>
            <p class="lead">Check out our last recipes below!</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    <!-- loop over blog posts and render them -->
                    LIST_OF_POSTS
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>
</html>
